{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Axios -->
        <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'drumbeatapp/styles.css' %}">
        <title>DrumBeat</title>
    </head>
    <body>
        <div id="app">
            <audio :id="instrument.name" v-for="instrument in inst_data" :src="instrument.sound"></audio>
            <div class="time_signature_container">
                <label>Time Signature:</label>
                <span class="time_signature" id="time_signature">
                    <select id="ts_beat_select" v-model="ts_beat">
                        <option disabled>Beats</option>
                        <option v-for="n in 12" :value="n">[[n]]</option>
                    </select>
                    /
                    <select id="ts_value_select" v-model="ts_value">
                        <option disabled>Note Value</option>
                        <option v-for="value in ts_value_array" :value="value">[[value]]</option>
                    </select>
                </span>
            </div>
            <div class="tempo_container">
                <label>Tempo:</label>
                <span class="tempo" id="tempo_span">
                    <input id="tempo_input" type="number" min="10" max="500" v-model="tempo_value">
                </span>
                bpm
            </div>
            <div class="inst_select_container">
                <span id="instrument_select">
                    <label>Instrument:</label>
                    <select id="inst_select" v-model="inst_choice" @change="add_instrument">
                        <option disabled>Choose an Instrument</option>
                        <option v-for="instrument in inst_data" :value="instrument">[[instrument.name]]</option>
                    </select>
                </span>
            </div>
            <button @click="clearPage">Clear</button>
            <div class="interface_container" id="interface_container">
                <div class="instrument_div" v-for="(instrument, inst_index) in score.measures">
                    <div class="delete">X</div>
                    <div class="instrument_name">[[instrument.name]]</div>
                    <div class="measure">
                        <div class="beat_container" v-for="(beat, beat_index) in instrument.beats">
                            <button v-for="(btn, btn_index) in beat.buttons" @click="toggle_button(beat_index, btn_index)" :class="{ clicked:btn.clicked }"><audio :id="String(beat_index) + String(btn_index)" :src="instrument.sound"></audio></button>
                            <select v-model="sub_select" @change="add_subdivision(beat.id)">
                                <option disabled>Choose a subdivision</option>
                                <option v-for="n in 13" :value="n">[[n]]</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            let app = new Vue({
                el: '#app',
                delimiters: ['[[', ']]'],
                data: {
                    ts_value_array: ['2', '4', '8'],
                    tempo_value: 120,
                    ts_beat: 4,
                    ts_value: 4,
                    inst_choice: '',
                    sub_select: 1,
                    inst_data: [],
                    score: {
                        measures: [],
                        ts: this.ts_beat,
                        tempo: this.tempo_value
                    },
                    sub_choice: [],
                },
                methods: {
                    play_instrument: function(name) {
                        document.querySelector('#' + name).play()
                    },
                    add_instrument: function () {
                        // console.log("hey there")
                        beats = []
                        for (let i=0; i<this.ts_beat; ++i) {
                            beats.push({
                                id: String(this.score.measures.length) + String(i),
                                subdivision: 1,
                                buttons: [{clicked: false}],
                            })
                        }
                        this.score.measures.push({
                            ...this.inst_choice,
                            beats: beats,
                        })
                        this.inst_choice = ''
                        console.log(this.score.measures)
                    },
                    add_subdivision: function (beat_id) {
                        buttons = []
                        for (let i = 0; i < this.score.measures.length; i ++) {
                            for (let j =0; j < this.score.measures[i].beats.length; j++){
                                if(this.score.measures[i].beats[j].id == beat_id){
                                    for (let x =0; x< this.sub_select; ++x){
                                        buttons.push({clicked:false})
                                        console.log(beat_id == this.score.measures[i].beats[j].id)
                                    }
                                    this.score.measures[i].beats[j].buttons = buttons
                                    this.score.measures[i].beats[j].subdivision = this.sub_select
                                }
                            }
                        }
                        this.sub_select = 1
                    },
                    toggle_button: function (beat_id, btn_index) {
                        for (let i=0; i<this.score.measures.length; i++) {
                            for (let j =0; j < this.score.measures[i].beats.length; j++){
                                if(this.score.measures[i].beats[j].id == beat_id){
                                    this.score.measures[i].beats[j].buttons[btn_index].clicked = !this.score.measures[i].beats[j].buttons[btn_index].clicked
                                }
                            }
                        }
                        document.getElementById(`${beat_id}${btn_index}`).play()

                    },
                    clearPage: function () {
                        this.score = {
                            measures: [],
                            ts: this.ts_beat,
                            tempo: this.tempo_value
                        }
                    },
                },
                created: function() {
                    axios({
                        method: 'get',
                        url: '{% url 'drumbeatapp:get_instruments' %}'
                    }).then(response => {
                        console.log(response)
                        this.inst_data = response.data.instruments
                    })
                }
            })
        </script>
    </body>
</html>